#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      %h2 Organize
      %p Offal mumblecore lo-fi cronut bespoke, food truck irony meggings flexitarian squid waistcoat seitan. Ugh quinoa DIY, humblebrag crucifix austin helvetica PBR&B cornhole chambray sustainable gluten-free. Fashion axe semiotics pork belly, art party actually bushwick sustainable pour-over flannel +1 leggings iPhone farm-to-table YOLO.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
